.btn_latest_cv {
  font-size: 24pt;
  width: 300px;
  height: 80px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.description {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 16pt;
  text-align: justify;
  line-height: 150%;
}

.layout {
  margin: 120px auto;
  text-align: center;
  color: #6b5b50;
}

.title {
  font-weight: bold;
  font-family: "Maven Pro";
  font-size: 60pt;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 30pt;
  text-align: center;
}

/* 

Most Used Technology

*/

.card_technology {
  background-color: #f9f2ed;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  height: 250px;
}

.text_count_technology {
  font-weight: bold;
  font-size: 60pt;
}

.title_technology {
  font-weight: bold;
  font-size: 16pt;
  color: #6b5b50;
}
/* 

Statistics

*/

.card_statistics {
  background-color: #f9f2ed;
  height: 250px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
}

.text_count_statistics {
  font-weight: bold;
  font-size: 60pt;
  color: #6b5b50;
}

@media only screen and (max-width: 768px) {
  .layout {
    margin: 120px 16px;
  }

  .title {
    font-size: 40pt;
  }

  .subtitle {
    font-size: 24pt;
  }

  .description {
    font-size: 12pt;
    line-height: 200%;
  }

  .card_statistics {
    margin-bottom: 2rem;
  }
}
